body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 0.01s;
          animation: loader 0.01s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader__item--1 {
  background-color: #9356DC;
}

.loader__item--2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loader__item--3 {
  background-color: #99e2d0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes itemAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0 0 10px lightgrey;
          box-shadow: 0 0 10px lightgrey;
}

.lieu {
  padding: 20px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icone_lieu {
  margin-right: 10px;
}

.intro {
  background-color: #fafafa;
  padding: 30px;
  text-align: center;
}

.intro_title {
  margin: 0px;
}

.intro_text {
  margin: 25px 0;
}

.intro_button {
  background-image: linear-gradient(354deg, #9356DC, #FF79DA);
  text-decoration: none;
  padding: 12px 25px;
  color: white;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
}

.intro_button:hover {
  -webkit-box-shadow: 4px 4px 8px #aa9898;
          box-shadow: 4px 4px 8px #aa9898;
}

.explication {
  padding: 20px;
}

.explication_step {
  background-color: #f6f6f6;
  margin-top: 15px;
  margin-left: 10px;
  padding: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px lightgray;
          box-shadow: 4px 4px 8px lightgray;
}

.explication_step:hover {
  background-color: #f2e7ff;
}

.explication_nombre {
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
  margin-left: -35px;
  margin-right: 10px;
}

.explication_icone {
  margin-right: 10px;
  color: gray;
}

.explication_icone:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px;
  margin-top: 15px;
}

.fiche_restau {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.fiche_restau:hover {
  -webkit-box-shadow: 4px 4px 18px #d8cdcd;
          box-shadow: 4px 4px 18px #d8cdcd;
}

figure {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.fiche_restau_image {
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

figcaption {
  margin: 0px;
  padding: 14px 14px 5px;
}

h3 {
  margin: 0px;
}

.fiche_lieu {
  margin: 0px;
  padding: 5px 0 10px;
}

.fiche_new {
  background-color: #99e2d0;
  color: #1c6150;
  padding: 5px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
}

.restaurantdescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heart-section .icon--full {
  color: white;
}

.heart-section:hover .icon--full {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: color 1.9s;
  transition: color 1.9s;
}

.heart-section:hover .icon--empty {
  opacity: 0;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.fa-heart {
  position: absolute;
  right: 35px;
  font-size: xx-large;
  cursor: pointer;
}

footer {
  background-color: #353535;
  padding: 20px;
}

.footer_titre {
  font-family: Shrikhand;
  color: white;
  padding-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: white;
  margin-bottom: 10px;
}

.footer_icone {
  margin-right: 4px;
  width: 18px;
}

.footer_links {
  color: white;
}

.footer_links:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .explication {
    padding: 20px 80px;
  }
  .explication_step {
    padding: 25px 170px 25px 25px;
  }
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .restaurants {
    padding: 40px 80px;
  }
  .h2_restaurants {
    margin-bottom: 30px;
  }
  .fiche_restau {
    margin-bottom: 40px;
  }
  .fiche_new {
    margin-left: -85px;
    right: auto;
  }
  .heart-section {
    position: relative;
    left: 30px;
  }
  .fiche_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  footer {
    padding: 20px 80px;
  }
}
/*# sourceMappingURL=style.css.map */